* {
  box-sizing: border-box;
}
body {
  background: radial-gradient(rgb(148, 176, 202), rgb(138, 195, 241));
  min-height: 100vh;
  padding:0;
  margin:0;
}
canvas {
  position: fixed;
  height: 100vh;
  width: 100vw;
}
